{
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "off",
        "no-unused-vars": "off"
    },
    "globals": {
        "WEBPACK_DEV": true,
        "VERSION": true,
        "USE_SERVICE_WORKER": true
    },
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true,
        "node": true
    }
}